{
  admin off
  auto_https off
  servers {
    protocols h1 h2
    timeouts {
      read_header 10s
      read_body 60s
    }
  }
}

:{$PORT} {
  encode zstd gzip
  header Strict-Transport-Security "max-age=31536000; includeSubDomains"
  reverse_proxy 127.0.0.1:18080 {
    transport http {
      response_header_timeout 40s
    }
  }
}
